

<html>

<head>
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Site Metas -->
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="shortcut icon" href="/images/favicon.png type="">
   <link rel="shortcut icon" href=" type="">
    <title> CakePlease </title>

    <!-- bootstrap core css -->
      <link rel="stylesheet" type="text/css" href="/css/bootstrap.css" />
     
    <!--owl slider stylesheet -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
    <!-- nice select  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/css/nice-select.min.css" integrity="sha512-CruCP+TD3yXzlvvijET8wV5WxxEh5H8P4cmz0RFbKK6FlZ2sYl3AEsKlLPHbniXKSrDdFewhbmBK5skbdsASbQ==" crossorigin="anonymous" />
    <!-- font awesome style -->
    <link href="/css/font-awesome.min.css" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="/css/style.css" rel="stylesheet" />
    <!-- responsive style -->
    <link href="/css/responsive.css" rel="stylesheet" />

</head>

<body>

    <div class="hero_area">
        <div class="bg-box">
             <img src="/css/home3jpg.jpg" alt="">
           @* <img src="/css/cake.jpg" alt="">*@
        </div>
      
      
        <!-- slider section -->
        <section class="slider_section ">
            <div id="customCarousel1" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="container ">
                            <div class="row">
                                <div class="col-md-7 col-lg-6 ">
                                    <div class="detail-box">
                                        <h1>
                                            CakePlease
                                        </h1>
                                        <p>
                                            We hope you can find everything you need. CakePlease is focused on providing high-quality service and customer satisfaction - we will do everything we can to meet your expectations.
                                        </p>
                                        <div class="btn-box">
                                            <a href="" class="btn1">
                                                Order Now
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item ">
                        <div class="container ">
                            <div class="row">
                                <div class="col-md-7 col-lg-6 ">
                                    <div class="detail-box">
                                        <h1>
                                            CakePlease
                                        </h1>
                                        <p>
                                            Our company is based on the belief that our customers' needs are of the utmost importance. Our entire team is committed to meeting those needs. As a result, a high percentage of our business is from repeat customers and referrals.
                                        </p>
                                        <div class="btn-box">
                                            <a href="" class="btn1">
                                                Order Now
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="container ">
                            <div class="row">
                                <div class="col-md-7 col-lg-6 ">
                                    <div class="detail-box">
                                        <h1>
                                            CakePlease
                                        </h1>
                                        <p>
                                            With a variety of offerings to choose from, we're sure you'll be happy working with us. Look around our website and if you have any comments or questions, please feel free to contact us.
                                        </p>
                                        <div class="btn-box">
                                            <a href="" class="btn1">
                                                Order Now
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <ol class="carousel-indicators">
                        <li data-target="#customCarousel1" data-slide-to="0" class="active"></li>
                        <li data-target="#customCarousel1" data-slide-to="1"></li>
                        <li data-target="#customCarousel1" data-slide-to="2"></li>
                    </ol>
                </div>
            </div>

        </section>
        <!-- end slider section -->
    </div>

  

    <!-- end offer section -->
    <!-- food section -->

    <section class="food_section layout_padding-bottom">
        <div class="container">
            <div class="heading_container heading_center">
                <h2>
                    Our Menu
                </h2>
            </div>

            <ul class="filters_menu">
                <li class="active" data-filter="*">All</li>
                <li data-filter=".burger">Cake</li>
                <li data-filter=".pizza">Cookies</li>
                <li data-filter=".pasta">Tart</li>
                <li data-filter=".fries">Muffins</li>
            </ul>

            <div class="filters-content">
                <div class="row grid">
                    <div class="col-sm-6 col-lg-4 all pizza">
                        <div class="box">
                            <div>
                                <div class="img-box">
                                    <img src="/css/cookieschocopng.png" alt="">
                                </div>
                                <div class="detail-box">
                                    <h5>
                                        Cookies with chocolate
                                    </h5>
                                    <p>
                                        Amazing Chocolate Cake Mix Cookies made using a chocolate cake mix.
                                        These chunky, chocolate fudge cookies are soft and chewy and filled to the brim with chocolate chips. 
                                    </p>
                                    <div class="options">
                                        <h6>
                                            20 uah
                                        </h6>
                                        <a href="">
                                            <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 456.029 456.029"  xml:space="preserve">
                                            <g>
                                            <g>
                                            <path d="M345.6,338.862c-29.184,0-53.248,23.552-53.248,53.248c0,29.184,23.552,53.248,53.248,53.248
                         c29.184,0,53.248-23.552,53.248-53.248C398.336,362.926,374.784,338.862,345.6,338.862z" />
                          </g>
                        </g>
                                            <g>
                                            <g>
                                            <path d="M439.296,84.91c-1.024,0-2.56-0.512-4.096-0.512H112.64l-5.12-34.304C104.448,27.566,84.992,10.67,61.952,10.67H20.48
                         C9.216,10.67,0,19.886,0,31.15c0,11.264,9.216,20.48,20.48,20.48h41.472c2.56,0,4.608,2.048,5.12,4.608l31.744,216.064
                         c4.096,27.136,27.648,47.616,55.296,47.616h212.992c26.624,0,49.664-18.944,55.296-45.056l33.28-166.4
                         C457.728,97.71,450.56,86.958,439.296,84.91z" />
                          </g>
                        </g>
                                            <g>
                                            <g>
                                            <path d="M215.04,389.55c-1.024-28.16-24.576-50.688-52.736-50.688c-29.696,1.536-52.224,26.112-51.2,55.296
                         c1.024,28.16,24.064,50.688,52.224,50.688h1.024C193.536,443.31,216.576,418.734,215.04,389.55z" />
                          </g>
                        </g>
                                            <g>
                        </g>
                                            <g>
                        </g>
                                            <g>
                        </g>
                                            <g>
                        </g>
                                            <g>
                        </g>
                                            <g>
                        </g>
                                            <g>
                        </g>
                                            <g>
                        </g>
                                            <g>
                        </g>
                                            <g>
                        </g>
                                            <g>
                        </g>
                                            <g>
                        </g>
                                            <g>
                        </g>
                                            <g>
                        </g>
                                            <g>
                        </g>
                      </svg>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4 all burger">
                        <div class="box">
                            <div>
                                <div class="img-box">
                                    <img src="/css/Chocolatecake.png" alt="">
                                </div>
                                <div class="detail-box">
                                    <h5>
                                        Chocolate cake
                                    </h5>
                                    <p>
                                        The perfect Chocolate  Cake covered in a creamy real chocolate buttercream. 
                                        Two layers of buttery chocolate cake that sticks to your fork, paired with the ultimate chocolate frosting – heaven! 
                                    </p>
                                    <div class="options">
                                        <h6>
                                            75 uah
                                        </h6>
                                        <a href="">
                                            <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 456.029 456.029"  xml:space="preserve">
                                            <g>
                                            <g>
                                            <path d="M345.6,338.862c-29.184,0-53.248,23.552-53.248,53.248c0,29.184,23.552,53.248,53.248,53.248
                         c29.184,0,53.248-23.552,53.248-53.248C398.336,362.926,374.784,338.862,345.6,338.862z" />
                          </g>
                        </g>
                                            <g>
                                            <g>
                                            <path d="M439.296,84.91c-1.024,0-2.56-0.512-4.096-0.512H112.64l-5.12-34.304C104.448,27.566,84.992,10.67,61.952,10.67H20.48
                         C9.216,10.67,0,19.886,0,31.15c0,11.264,9.216,20.48,20.48,20.48h41.472c2.56,0,4.608,2.048,5.12,4.608l31.744,216.064
                         c4.096,27.136,27.648,47.616,55.296,47.616h212.992c26.624,0,49.664-18.944,55.296-45.056l33.28-166.4
                         C457.728,97.71,450.56,86.958,439.296,84.91z" />
                          </g>
                        </g>
                                            <g>
                                            <g>
                                            <path d="M215.04,389.55c-1.024-28.16-24.576-50.688-52.736-50.688c-29.696,1.536-52.224,26.112-51.2,55.296
                         c1.024,28.16,24.064,50.688,52.224,50.688h1.024C193.536,443.31,216.576,418.734,215.04,389.55z" />
                          </g>
                        </g>
                                            <g>
                        </g>
                                            <g>
                        </g>
                                            <g>
                        </g>
                                            <g>
                        </g>
                                            <g>
                        </g>
                                            <g>
                        </g>
                                            <g>
                        </g>
                                            <g>
                        </g>
                                            <g>
                        </g>
                                            <g>
                        </g>
                                            <g>
                        </g>
                                            <g>
                        </g>
                                            <g>
                        </g>
                                            <g>
                        </g>
                                            <g>
                        </g>
                      </svg>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4 all pizza">
                        <div class="box">
                            <div>
                                <div class="img-box">
                                    <img src=" /css/brookie.png" alt="">
                                </div>
                                <div class="detail-box">
                                    <h5>
                                        Brookie Cookies
                                    </h5>
                                    <p>
                                       Amazing Brookie Cookies made from scratch. Fudgy chocolate chocolate chip cookies combine to make one incredible cookie.
                                       They’re soft, chewy and bursting with chocolate chips. 
                                    </p>
                                    <div class="options">
                                        <h6>
                                            17 uah
                                        </h6>
                                        <a href="">
                                            <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 456.029 456.029"  xml:space="preserve">
                                            <g>
                                            <g>
                                            <path d="M345.6,338.862c-29.184,0-53.248,23.552-53.248,53.248c0,29.184,23.552,53.248,53.248,53.248
                         c29.184,0,53.248-23.552,53.248-53.248C398.336,362.926,374.784,338.862,345.6,338.862z" />
                          </g>
                        </g>
                                            <g>
                                            <g>
                                            <path d="M439.296,84.91c-1.024,0-2.56-0.512-4.096-0.512H112.64l-5.12-34.304C104.448,27.566,84.992,10.67,61.952,10.67H20.48
                         C9.216,10.67,0,19.886,0,31.15c0,11.264,9.216,20.48,20.48,20.48h41.472c2.56,0,4.608,2.048,5.12,4.608l31.744,216.064
                         c4.096,27.136,27.648,47.616,55.296,47.616h212.992c26.624,0,49.664-18.944,55.296-45.056l33.28-166.4
                         C457.728,97.71,450.56,86.958,439.296,84.91z" />
                          </g>
                        </g>
                                            <g>
                                            <g>
                                            <path d="M215.04,389.55c-1.024-28.16-24.576-50.688-52.736-50.688c-29.696,1.536-52.224,26.112-51.2,55.296
                         c1.024,28.16,24.064,50.688,52.224,50.688h1.024C193.536,443.31,216.576,418.734,215.04,389.55z" />
                          </g>
                        </g>
                                            <g>
                        </g>
                                            <g>
                        </g>
                                            <g>
                        </g>
                                            <g>
                        </g>
                                            <g>
                        </g>
                                            <g>
                        </g>
                                            <g>
                        </g>
                                            <g>
                        </g>
                                            <g>
                        </g>
                                            <g>
                        </g>
                                            <g>
                        </g>
                                            <g>
                        </g>
                                            <g>
                        </g>
                                            <g>
                        </g>
                                            <g>
                        </g>
                      </svg>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4 all pasta">
                        <div class="box">
                            <div>
                                <div class="img-box">
                                    <img src="/css/Lemon-tart.png" alt="">
                                </div>
                                <div class="detail-box">
                                    <h5>
                                       Lemon tart
                                    </h5>
                                    <p>
                                        Filled with a tangy, deliciously smooth lemon curd, this buttery tart is the perfect combination of elegance and simplicity.
                                        It's one of the most classic lemon dessert for a reason
                                    </p>
                                    <div class="options">
                                        <h6>
                                            80 uah
                                        </h6>
                                        <a href="">
                                            <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 456.029 456.029"  xml:space="preserve">
                                            <g>
                                            <g>
                                            <path d="M345.6,338.862c-29.184,0-53.248,23.552-53.248,53.248c0,29.184,23.552,53.248,53.248,53.248
                         c29.184,0,53.248-23.552,53.248-53.248C398.336,362.926,374.784,338.862,345.6,338.862z" />
                          </g>
                        </g>
                                            <g>
                                            <g>
                                            <path d="M439.296,84.91c-1.024,0-2.56-0.512-4.096-0.512H112.64l-5.12-34.304C104.448,27.566,84.992,10.67,61.952,10.67H20.48
                         C9.216,10.67,0,19.886,0,31.15c0,11.264,9.216,20.48,20.48,20.48h41.472c2.56,0,4.608,2.048,5.12,4.608l31.744,216.064
                         c4.096,27.136,27.648,47.616,55.296,47.616h212.992c26.624,0,49.664-18.944,55.296-45.056l33.28-166.4
                         C457.728,97.71,450.56,86.958,439.296,84.91z" />
                          </g>
                        </g>
                                            <g>
                                            <g>
                                            <path d="M215.04,389.55c-1.024-28.16-24.576-50.688-52.736-50.688c-29.696,1.536-52.224,26.112-51.2,55.296
                         c1.024,28.16,24.064,50.688,52.224,50.688h1.024C193.536,443.31,216.576,418.734,215.04,389.55z" />
                          </g>
                        </g>
                                            <g>
                        </g>
                                            <g>
                        </g>
                                            <g>
                        </g>
                                            <g>
                        </g>
                                            <g>
                        </g>
                                            <g>
                        </g>
                                            <g>
                        </g>
                                            <g>
                        </g>
                                            <g>
                        </g>
                                            <g>
                        </g>
                                            <g>
                        </g>
                                            <g>
                        </g>
                                            <g>
                        </g>
                                            <g>
                        </g>
                                            <g>
                        </g>
                      </svg>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4 all fries">
                        <div class="box">
                            <div>
                                <div class="img-box">
                                    <img src=" /css/muffin-chocolatepng.png" alt="">
                                </div>
                                <div class="detail-box">
                                    <h5>
                                        Muffins with chocolate
                                    </h5>
                                    <p>
                                        Say hello to your new favourite muffin.
                                        These gorgeous bakery-style Double Chocolate Muffins boast beautiful high-tops, a soft chocolate centre and LOADS of chocolate chunks. 
                                    </p>
                                    <div class="options">
                                        <h6>
                                            40 uah
                                        </h6>
                                        <a href="">
                                            <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 456.029 456.029"  xml:space="preserve">
                                            <g>
                                            <g>
                                            <path d="M345.6,338.862c-29.184,0-53.248,23.552-53.248,53.248c0,29.184,23.552,53.248,53.248,53.248
                         c29.184,0,53.248-23.552,53.248-53.248C398.336,362.926,374.784,338.862,345.6,338.862z" />
                          </g>
                        </g>
                                            <g>
                                            <g>
                                            <path d="M439.296,84.91c-1.024,0-2.56-0.512-4.096-0.512H112.64l-5.12-34.304C104.448,27.566,84.992,10.67,61.952,10.67H20.48
                         C9.216,10.67,0,19.886,0,31.15c0,11.264,9.216,20.48,20.48,20.48h41.472c2.56,0,4.608,2.048,5.12,4.608l31.744,216.064
                         c4.096,27.136,27.648,47.616,55.296,47.616h212.992c26.624,0,49.664-18.944,55.296-45.056l33.28-166.4
                         C457.728,97.71,450.56,86.958,439.296,84.91z" />
                          </g>
                        </g>
                                            <g>
                                            <g>
                                            <path d="M215.04,389.55c-1.024-28.16-24.576-50.688-52.736-50.688c-29.696,1.536-52.224,26.112-51.2,55.296
                         c1.024,28.16,24.064,50.688,52.224,50.688h1.024C193.536,443.31,216.576,418.734,215.04,389.55z" />
                          </g>
                        </g>
                                            <g>
                        </g>
                                            <g>
                        </g>
                                            <g>
                        </g>
                                            <g>
                        </g>
                                            <g>
                        </g>
                                            <g>
                        </g>
                                            <g>
                        </g>
                                            <g>
                        </g>
                                            <g>
                        </g>
                                            <g>
                        </g>
                                            <g>
                        </g>
                                            <g>
                        </g>
                                            <g>
                        </g>
                                            <g>
                        </g>
                                            <g>
                        </g>
                      </svg>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4 all pizza">
                        <div class="box">
                            <div>
                                <div class="img-box">
                                    <img src="/css/peanut-butter-cookie.png" alt="">
                                </div>
                                <div class="detail-box">
                                    <h5>
                                        Peanut Butter Cookies  
                                    </h5>
                                    <p>
                                        These Classic Peanut Butter Cookies are sure to become a family favourite.
                                        Rolled in sugar and baked until golden, they make for a crispy, crunchy, peanut butter treat. 
                                    </p>
                                    <div class="options">
                                        <h6>
                                            25 uah
                                        </h6>
                                        <a href="">
                                            <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 456.029 456.029" xml:space="preserve">
                                            <g>
                                            <g>
                                            <path d="M345.6,338.862c-29.184,0-53.248,23.552-53.248,53.248c0,29.184,23.552,53.248,53.248,53.248
                         c29.184,0,53.248-23.552,53.248-53.248C398.336,362.926,374.784,338.862,345.6,338.862z" />
                          </g>
                        </g>
                                            <g>
                                            <g>
                                            <path d="M439.296,84.91c-1.024,0-2.56-0.512-4.096-0.512H112.64l-5.12-34.304C104.448,27.566,84.992,10.67,61.952,10.67H20.48
                         C9.216,10.67,0,19.886,0,31.15c0,11.264,9.216,20.48,20.48,20.48h41.472c2.56,0,4.608,2.048,5.12,4.608l31.744,216.064
                         c4.096,27.136,27.648,47.616,55.296,47.616h212.992c26.624,0,49.664-18.944,55.296-45.056l33.28-166.4
                         C457.728,97.71,450.56,86.958,439.296,84.91z" />
                          </g>
                        </g>
                                            <g>
                                            <g>
                                            <path d="M215.04,389.55c-1.024-28.16-24.576-50.688-52.736-50.688c-29.696,1.536-52.224,26.112-51.2,55.296
                         c1.024,28.16,24.064,50.688,52.224,50.688h1.024C193.536,443.31,216.576,418.734,215.04,389.55z" />
                          </g>
                        </g>
                                            <g>
                        </g>
                                            <g>
                        </g>
                                            <g>
                        </g>
                                            <g>
                        </g>
                                            <g>
                        </g>
                                            <g>
                        </g>
                                            <g>
                        </g>
                                            <g>
                        </g>
                                            <g>
                        </g>
                                            <g>
                        </g>
                                            <g>
                        </g>
                                            <g>
                        </g>
                                            <g>
                        </g>
                                            <g>
                        </g>
                                            <g>
                        </g>
                      </svg>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4 all burger">
                        <div class="box">
                            <div>
                                <div class="img-box">
                                    <img src="/css/Red_velvetpng.png" alt="">
                                </div>
                                <div class="detail-box">
                                    <h5>
                                        Red velvet
                                    </h5>
                                    <p>
                                       Deliciously soft Red Velvet Cake covered in classic cream cheese frosting. This buttery cake is light and tender with a seriously velvety texture. 
                                       It’s so much easier to make than you’d think. And it’s a stunning cake for special occasions.
                                    </p>
                                    <div class="options">
                                        <h6>
                                            75 uah
                                        </h6>
                                        <a href="">
                                            <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 456.029 456.029"  xml:space="preserve">
                                            <g>
                                            <g>
                                            <path d="M345.6,338.862c-29.184,0-53.248,23.552-53.248,53.248c0,29.184,23.552,53.248,53.248,53.248
                         c29.184,0,53.248-23.552,53.248-53.248C398.336,362.926,374.784,338.862,345.6,338.862z" />
                          </g>
                        </g>
                                            <g>
                                            <g>
                                            <path d="M439.296,84.91c-1.024,0-2.56-0.512-4.096-0.512H112.64l-5.12-34.304C104.448,27.566,84.992,10.67,61.952,10.67H20.48
                         C9.216,10.67,0,19.886,0,31.15c0,11.264,9.216,20.48,20.48,20.48h41.472c2.56,0,4.608,2.048,5.12,4.608l31.744,216.064
                         c4.096,27.136,27.648,47.616,55.296,47.616h212.992c26.624,0,49.664-18.944,55.296-45.056l33.28-166.4
                         C457.728,97.71,450.56,86.958,439.296,84.91z" />
                          </g>
                        </g>
                                            <g>
                                            <g>
                                            <path d="M215.04,389.55c-1.024-28.16-24.576-50.688-52.736-50.688c-29.696,1.536-52.224,26.112-51.2,55.296
                         c1.024,28.16,24.064,50.688,52.224,50.688h1.024C193.536,443.31,216.576,418.734,215.04,389.55z" />
                          </g>
                        </g>
                                            <g>
                        </g>
                                            <g>
                        </g>
                                            <g>
                        </g>
                                            <g>
                        </g>
                                            <g>
                        </g>
                                            <g>
                        </g>
                                            <g>
                        </g>
                                            <g>
                        </g>
                                            <g>
                        </g>
                                            <g>
                        </g>
                                            <g>
                        </g>
                                            <g>
                        </g>
                                            <g>
                        </g>
                                            <g>
                        </g>
                                            <g>
                        </g>
                      </svg>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4 all burger">
                        <div class="box">
                            <div>
                                <div class="img-box">
                                    <img src="/css/Cheesecake.png" alt="">
                                </div>
                                <div class="detail-box">
                                    <h5>
                                        Cheesecake
                                    </h5>
                                    <p>
                                       Looking for the ultimate Christmas dessert? Try this gorgeous Baked Eggnog Cheesecake with a crunchy cookie crust, a creamy eggnog filling and a luscious maple caramel topping. 
                                       It’s perfect for the holidays!
                                    </p>
                                    <div class="options">
                                        <h6>
                                            50 uah
                                        </h6>
                                        <a href="">
                                            <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 456.029 456.029"  xml:space="preserve">
                                            <g>
                                            <g>
                                            <path d="M345.6,338.862c-29.184,0-53.248,23.552-53.248,53.248c0,29.184,23.552,53.248,53.248,53.248
                         c29.184,0,53.248-23.552,53.248-53.248C398.336,362.926,374.784,338.862,345.6,338.862z" />
                          </g>
                        </g>
                                            <g>
                                            <g>
                                            <path d="M439.296,84.91c-1.024,0-2.56-0.512-4.096-0.512H112.64l-5.12-34.304C104.448,27.566,84.992,10.67,61.952,10.67H20.48
                         C9.216,10.67,0,19.886,0,31.15c0,11.264,9.216,20.48,20.48,20.48h41.472c2.56,0,4.608,2.048,5.12,4.608l31.744,216.064
                         c4.096,27.136,27.648,47.616,55.296,47.616h212.992c26.624,0,49.664-18.944,55.296-45.056l33.28-166.4
                         C457.728,97.71,450.56,86.958,439.296,84.91z" />
                          </g>
                        </g>
                                            <g>
                                            <g>
                                            <path d="M215.04,389.55c-1.024-28.16-24.576-50.688-52.736-50.688c-29.696,1.536-52.224,26.112-51.2,55.296
                         c1.024,28.16,24.064,50.688,52.224,50.688h1.024C193.536,443.31,216.576,418.734,215.04,389.55z" />
                          </g>
                        </g>
                                            <g>
                        </g>
                                            <g>
                        </g>
                                            <g>
                        </g>
                                            <g>
                        </g>
                                            <g>
                        </g>
                                            <g>
                        </g>
                                            <g>
                        </g>
                                            <g>
                        </g>
                                            <g>
                        </g>
                                            <g>
                        </g>
                                            <g>
                        </g>
                                            <g>
                        </g>
                                            <g>
                        </g>
                                            <g>
                        </g>
                                            <g>
                        </g>
                      </svg>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4 all pasta">
                        <div class="box">
                            <div>
                                <div class="img-box">
                                    <img src=" /css/chocotart.png" alt="">
                                </div>
                                <div class="detail-box">
                                    <h5>
                                        Chocolate Caramel Tart
                                    </h5>
                                    <p>
                                        Sweet and salty is the new cool kid on the block. Whether it’s salted caramel sauce,  bacon and maple syrup, there’s no denying that the combo of sweet and salty is truly magical.So I have taken this glorious combo
                                       
                                    </p>
                                    <div class="options">
                                        <h6>
                                            70 uah
                                        </h6>
                                        <a href="">
                                            <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 456.029 456.029" ;" xml:space="preserve">
                                            <g>
                                            <g>
                                            <path d="M345.6,338.862c-29.184,0-53.248,23.552-53.248,53.248c0,29.184,23.552,53.248,53.248,53.248
                         c29.184,0,53.248-23.552,53.248-53.248C398.336,362.926,374.784,338.862,345.6,338.862z" />
                          </g>
                        </g>
                                            <g>
                                            <g>
                                            <path d="M439.296,84.91c-1.024,0-2.56-0.512-4.096-0.512H112.64l-5.12-34.304C104.448,27.566,84.992,10.67,61.952,10.67H20.48
                         C9.216,10.67,0,19.886,0,31.15c0,11.264,9.216,20.48,20.48,20.48h41.472c2.56,0,4.608,2.048,5.12,4.608l31.744,216.064
                         c4.096,27.136,27.648,47.616,55.296,47.616h212.992c26.624,0,49.664-18.944,55.296-45.056l33.28-166.4
                         C457.728,97.71,450.56,86.958,439.296,84.91z" />
                          </g>
                        </g>
                                            <g>
                                            <g>
                                            <path d="M215.04,389.55c-1.024-28.16-24.576-50.688-52.736-50.688c-29.696,1.536-52.224,26.112-51.2,55.296
                         c1.024,28.16,24.064,50.688,52.224,50.688h1.024C193.536,443.31,216.576,418.734,215.04,389.55z" />
                          </g>
                        </g>
                                            <g>
                        </g>
                                            <g>
                        </g>
                                            <g>
                        </g>
                                            <g>
                        </g>
                                            <g>
                        </g>
                                            <g>
                        </g>
                                            <g>
                        </g>
                                            <g>
                        </g>
                                            <g>
                        </g>
                                            <g>
                        </g>
                                            <g>
                        </g>
                                            <g>
                        </g>
                                            <g>
                        </g>
                                            <g>
                        </g>
                                            <g>
                        </g>
                      </svg>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="btn-box">
                @*<a href="">
                    View More
                </a>*@
            </div>
        </div>
    </section>

    <!-- end food section -->
    
   
    <!-- footer section -->
    <footer class="footer_section">
        <div class="container">
            <div class="row">
                <div class="col-md-4 footer-col">
                    <div class="footer_contact">
                        <h4>
                            Contact Us
                        </h4>
                        <div class="contact_link_box">
                            <a href="">
                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                                <span>
                                    Location
                                </span>
                            </a>
                            <a href="">
                                <i class="fa fa-phone" aria-hidden="true"></i>
                                <span>
                                    +380 666295701
                                </span>
                            </a>
                            <a href="">
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                                <span>
                                    CakePlease@gmail.com
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 footer-col">
                    <div class="footer_detail">
                        <a href="" class="footer-logo">
                            CakePlease
                        </a>
                        <p>
                            Look for us on social networks
                        </p>
                        <div class="footer_social">
                            <a href="">
                                <i class="fa fa-facebook" aria-hidden="true"></i>
                            </a>
                            <a href="">
                                <i class="fa fa-twitter" aria-hidden="true"></i>
                            </a>

                            <a href="">
                                <i class="fa fa-instagram" aria-hidden="true"></i>
                            </a>

                        </div>
                    </div>
                </div>
                <div class="col-md-4 footer-col">
                    <h4>
                        Opening Hours
                    </h4>
                    <p>
                        Everyday
                    </p>
                    <p>
                        10.00 - 18.00
                    </p>
                </div>
            </div>
            <div class="footer-info">
                <p>
                    &copy; 2022 All Rights Reserved By Anna Hus and Oksana Kosar
                </p>
            </div>
        </div>
    </footer>
    <!-- footer section -->
    <!-- jQery -->
    <script src="js/jquery-3.4.1.min.js"></script>
    <!-- popper js -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <!-- bootstrap js -->
    <script src="js/bootstrap.js"></script>
    <!-- owl slider -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js">
    </script>
    <!-- isotope js -->
    <script src="https://unpkg.com/isotope-layout@3.0.4/dist/isotope.pkgd.min.js"></script>
    <!-- nice select -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/js/jquery.nice-select.min.js"></script>
    <!-- custom js -->
    <script src="js/custom.js"></script>
    

</body>

</html>